/* body {
	background-color: black;
}

header{
	border-style : solid;
	border-radius : 10px;
	border-color : black;
}

img{
	width: 98%;
	height: 98%;
	margin: 5px;
	border-radius: 5px;
}
.headerDiv, main{
	border-style : solid;
	border-radius : 10px;
	border-color : red;
	background-color: white;
	margin: 15px;
}


#A{
	text-align: center;
	font: bold 10px arial, sans-serif;
	background: linear-gradient(to left, #fdd1d1, #ffaeae, #d44d4d);
}

.wrapper{
	display: flex;
    justify-content: center;
}

#D{
	display:inline-block;
	height: 315px;
	width: 31%;
}

#C{
	overflow: hidden;
	display:inline-block;
	height: 315px;
	width: 69%;
	font: 15px arial, sans-serif;
}

#B{
	display: block;
	text-align: center;
	font: italic bold 60px Georgia, serif;
	height: 70px;
	padding-bottom: 10px;
	background: linear-gradient(to left, #fdd1d1, #ffaeae, #d44d4d);
}
#txtInput{
	width: 73%;
}
fieldset{
	margin:10px;
	border-color : red;
	font: bold 15px arial, sans-serif;
	background: linear-gradient(to left, #fdd1d1, #ffaeae, #d44d4d);
}

td {
    padding : 15px;
	text-align: center;
}

th {
	width: 150px;
	background-color: #d44d4d;
	color: white;
	font: bold 15px arial, sans-serif;
}

.odd {
    background-color: #fdd1d1;
	font: 15px arial, sans-serif;
}

.even {
    background-color: #ffaeae;
	font: 15px arial, sans-serif;
}

#tableRes {
    padding: 10px;
	font: bold 18px Georgia, serif;	
} */

h1{
	text-decoration: underline;
	font: italic 40px
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

ul, li{
	margin: 5px;
}

li {
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	padding: 3px;
  }

 .addcliDiv{
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	padding: 3px;
	margin: 5px;
  }
  #client_div{
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	padding: 3px;
	margin: 5px; 
  }
